body {
  display: flex;
  flex-direction: column;
  background-color: black;
}

#send {
  background-color: black;
  color: rgb(240, 191, 131);
  border-radius: 5px;
  border: none;
  margin-left: 10px;
}

#container {
  border-radius: 20px;
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 50px;
  padding: 30px;
  background-color: rgb(240, 191, 131);
  text-align: center;
}

#greeting {
  color: rgb(240, 191, 131);
  margin-left: 300px;
  margin-right: 300px; 
  font-size: 25px;
  text-align: center;
}

#picture {
  border-radius: 10px;
  margin-left: 650px;
  margin-right: 650px;
}